<div class="cols">
  <div class="col">
    <h3>start month</h3>
    <div id="calendarpick">
</div>
  </div>
  <div class="col">
    <h3 class="center">attribution window</h3>
    <h3 class="text">report window</h3>
    <div class="table">
      <table>
        <tbody><tr>
          <th class="col01">&nbsp;</th>
          <th class="col02">1 Mo</th>
          <th class="col3">2 Mo</th>
          <th class="col04">3 Mo</th>
        </tr>
        <tr>
          <td class="col01">
            <img alt="image" height="46" src="/assets/bg-text-01.png" width="33">
          </td>
          <td class="col02">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="1" class="reportattribution customForm-hidden" name="reportattribution" report="1" type="radio" value="1">
            </div>
          </td>
          <td class="col03">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="2" class="reportattribution customForm-hidden" name="reportattribution" report="1" type="radio" value="2">
            </div>
          </td>
          <td class="col04">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="3" checked="checked" class="reportattribution customForm-hidden" name="reportattribution" report="1" type="radio" value="3">
            </div>
          </td>
        </tr>
        <tr>
          <td class="col01">
            <img alt="image" height="46" src="/assets/bg-text-02.png" width="33">
          </td>
          <td class="col02">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="1" class="reportattribution customForm-hidden" name="reportattribution" report="2" type="radio" value="4">
            </div>
          </td>
          <td class="col03">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="2" class="reportattribution customForm-hidden" name="reportattribution" report="2" type="radio" value="5">
            </div>
          </td>
          <td class="col04">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-checked"><span></span></div><input attribution="3" class="reportattribution customForm-hidden" name="reportattribution" report="2" type="radio" value="6">
            </div>
          </td>
        </tr>
        <tr>
          <td class="col01">
            <img alt="image" height="46" src="/assets/bg-text-03.png" width="33">
          </td>
          <td class="col02">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="1" class="reportattribution customForm-hidden" name="reportattribution" report="3" type="radio" value="7">
            </div>
          </td>
          <td class="col03">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="2" class="reportattribution customForm-hidden" name="reportattribution" report="3" type="radio" value="8">
            </div>
          </td>
          <td class="col04">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="3" class="reportattribution customForm-hidden" name="reportattribution" report="3" type="radio" value="9">
            </div>
          </td>
        </tr>
      </tbody></table>
    </div>
    <!-- / table -->
  </div>
  <!-- / col -->
  <div class="col" width="100%">
    <h3>Result</h3>
    <div align="center" class="result" id="result">  <strong>Purchase:</strong>
  <br>
  <div id="purchase">June 2013 through May 2013</div>
  <br>
  <br>
  <strong>Impressions:</strong>
  <br>
  <div id="impressions">March 2013 through May 2013</div>
  <br>
  <br>
  <strong>Focus On:</strong>
  <br>
  <div id="focusonpurchase">Purchase Month</div></div>
  </div>
  <!-- / col -->
</div>