<div class="cols">
  <div class="col">
    <h3>start month</h3>
    <div id="calendarpick" style="left: -10125px; top: -9874px; visibility: visible;"><table class="cpBorder" width="144" border="1" borderwidth="1" cellspacing="0" cellpadding="1">
<tbody><tr><td align="CENTER">
<center>
<table width="144" border="0" borderwidth="0" cellspacing="0" cellpadding="0"><tbody><tr>
	<td class="cpYearNavigation" width="22"><a class="prev cpYearNavigation" href="javascript:CP_refreshCalendar(0,2012);">&nbsp;&nbsp;</a></td>
	<td class="cpYearNavigation" width="100">2013</td>
	<td class="cpYearNavigation" width="22"><a class="next cpYearNavigation" href="javascript:CP_refreshCalendar(0,2014);">&nbsp;&nbsp;</a></td>
</tr></tbody></table>
<table id="calendarmonthid" width="120" border="0" cellspacing="1" cellpadding="0" align="CENTER">
<tbody><tr><td width="33%" id="monthselect20131" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,1);CP_hideCalendar('0');">JAN</a></td><td width="33%" id="monthselect20132" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,2);CP_hideCalendar('0');">FEB</a></td><td width="33%" id="monthselect20133" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,3);CP_hideCalendar('0');">MAR</a></td></tr><tr><td width="33%" id="monthselect20134" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,4);CP_hideCalendar('0');">APR</a></td><td width="33%" id="monthselect20135" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,5);CP_hideCalendar('0');">MAY</a></td><td width="33%" id="monthselect20136" align="CENTER" class="activemonth"><a class="cpText" href="javascript:monthReturn(2013,6);CP_hideCalendar('0');">JUN</a></td></tr><tr><td width="33%" id="monthselect20137" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,7);CP_hideCalendar('0');">JUL</a></td><td width="33%" id="monthselect20138" align="CENTER" class=""><a class="cpText" href="javascript:monthReturn(2013,8);CP_hideCalendar('0');">AUG</a></td><td width="33%" id="monthselect20139" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,9);CP_hideCalendar('0');">SEP</a></td></tr><tr><td width="33%" id="monthselect201310" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,10);CP_hideCalendar('0');">OCT</a></td><td width="33%" id="monthselect201311" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,11);CP_hideCalendar('0');">NOV</a></td><td width="33%" id="monthselect201312" align="CENTER"><a class="cpText" href="javascript:monthReturn(2013,12);CP_hideCalendar('0');">DEC</a></td></tr></tbody></table></center></td></tr></tbody></table>
</div>
  </div>
  <div class="col">
    <h3 class="center">attribution window</h3>
    <h3 class="text">report window</h3>
    <div class="table">
      <table>
        <tbody><tr>
          <th class="col01">&nbsp;</th>
          <th class="col02">1 Mo</th>
          <th class="col3">2 Mo</th>
          <th class="col04">3 Mo</th>
        </tr>
        <tr>
          <td class="col01">
            <img alt="image" height="46" src="/assets/bg-text-01.png" width="33">
          </td>
          <td class="col02">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="1" class="reportattribution customForm-hidden" name="reportattribution" report="1" type="radio" value="1">
            </div>
          </td>
          <td class="col03">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="2" class="reportattribution customForm-hidden" name="reportattribution" report="1" type="radio" value="2">
            </div>
          </td>
          <td class="col04">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="3" checked="checked" class="reportattribution customForm-hidden" name="reportattribution" report="1" type="radio" value="3">
            </div>
          </td>
        </tr>
        <tr>
          <td class="col01">
            <img alt="image" height="46" src="/assets/bg-text-02.png" width="33">
          </td>
          <td class="col02">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="1" class="reportattribution customForm-hidden" name="reportattribution" report="2" type="radio" value="4">
            </div>
          </td>
          <td class="col03">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="2" class="reportattribution customForm-hidden" name="reportattribution" report="2" type="radio" value="5">
            </div>
          </td>
          <td class="col04">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-checked"><span></span></div><input attribution="3" class="reportattribution customForm-hidden" name="reportattribution" report="2" type="radio" value="6">
            </div>
          </td>
        </tr>
        <tr>
          <td class="col01">
            <img alt="image" height="46" src="/assets/bg-text-03.png" width="33">
          </td>
          <td class="col02">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="1" class="reportattribution customForm-hidden" name="reportattribution" report="3" type="radio" value="7">
            </div>
          </td>
          <td class="col03">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="2" class="reportattribution customForm-hidden" name="reportattribution" report="3" type="radio" value="8">
            </div>
          </td>
          <td class="col04">
            <div class="radio-area">
              <div class="customForm-class-reportattribution rad-area rad-unchecked"><span></span></div><input attribution="3" class="reportattribution customForm-hidden" name="reportattribution" report="3" type="radio" value="9">
            </div>
          </td>
        </tr>
      </tbody></table>
    </div>
    <!-- / table -->
  </div>
  <!-- / col -->
  <div class="col" width="100%">
    <h3>Result</h3>
    <div align="center" class="result" id="result">  <strong>Purchase:</strong>
  <br>
  <div id="purchase">June 2013 through May 2013</div>
  <br>
  <br>
  <strong>Impressions:</strong>
  <br>
  <div id="impressions">March 2013 through May 2013</div>
  <br>
  <br>
  <strong>Focus On:</strong>
  <br>
  <div id="focusonpurchase">Purchase Month</div></div>
  </div>
  <!-- / col -->
</div>