.cols
  .col
    %h3 start month
    #calendarpick
    -# => %input#month{:name => "month", :type => "text"}

  .col
    %h3.center attribution window
    %h3.text report window
    .table
      %table
        %tr
          %th.col01 &nbsp;
          %th.col02 1 Mo
          %th.col3 2 Mo
          %th.col04 3 Mo
        %tr
          %td.col01
            = image_tag 'bg-text-01.png', alt: "image", height: "46", width: '33'
          %td.col02
            .radio-area
              %input{:name => "reportattribution", :value => "1", :class => "reportattribution", :report => "1", :attribution => "1", :type => "radio"}/
          %td.col03
            .radio-area
              %input{:name => "reportattribution", :value => "2", :class => "reportattribution", :report => "1", :attribution => "2", :type => "radio"}/
          %td.col04
            .radio-area
              %input{:checked => "checked", :class => "reportattribution", :value => "3",  :report => "1", :attribution => "3", :name => "reportattribution", :type => "radio"}/
        %tr
          %td.col01

            = image_tag 'bg-text-02.png',alt: "image", height:  "46", width:  "33"
          %td.col02
            .radio-area
              %input{:name => "reportattribution",  :value => "4", :class => "reportattribution",  :report => "2", :attribution => "1", :type => "radio"}/
          %td.col03
            .radio-area
              %input{:name => "reportattribution",  :value => "5", :class => "reportattribution",  :report => "2", :attribution => "2", :type => "radio"}/
          %td.col04
            .radio-area
              %input{:name => "reportattribution",  :value => "6", :class => "reportattribution",  :report => "2", :attribution => "3", :type => "radio"}/
        %tr
          %td.col01
            = image_tag 'bg-text-03.png', alt: "image", height: "46", width: "33"
          %td.col02
            .radio-area
              %input{:name => "reportattribution", :value => "7", :class => "reportattribution",  :report => "3", :attribution => "1", :type => "radio"}/
          %td.col03
            .radio-area
              %input{:name => "reportattribution", :value => "8", :class => "reportattribution",  :report => "3", :attribution => "2", :type => "radio"}/
          %td.col04
            .radio-area
              %input{:name => "reportattribution", :value => "9", :class => "reportattribution",  :report => "3", :attribution => "3", :type => "radio"}/
    / / table
  / / col
  .col{:width => '100%'}
    %h3 Result
    #result.result{:align => 'center'}
      %strong Purchase:
      %br
      #purchase April 2012
      %br
      %br
      %strong Impressions:
      %br
      #impressions Feb 2012 - Apr 2012
      %br
      %br
      %strong Focus On:
      %br
      #focusonpurchase Purchase Month
  / / col
/ / cols