
  <%= @monthend %>
  <strong>Purchase:</strong>
  <br>
  <div id="purchase"><%= @purchases %></div>
  <br>
  <br>
  <strong>Impressions:</strong>
  <br>
  <div id="impressions"><%= @impressions %></div>
  <br>
  <br>
  <strong>Focus On:</strong>
  <br>
  <div id="focusonpurchase"><%= @purchaseEvent %></div>