#tabs
  %ul.tabset
    -#Build tab/header
    -# render partial: 'custom_li', collection: TABS, as: :tab
    - TABS.each do |tab_name, subtabs|
      = render 'custom_li', tab_name: tab_name, subtabs: subtabs
    
    
  -#Build tab/content
  - TABS.each do |tab_name, subtabs|
    = render 'subtab', tab_name: tab_name, subtabs: subtabs