#tabs
  %ul.tabset
    - @tabs.each do |tab_name, subtabs|
      %li
        %a{:href => "#tab-#{tab_name}", data_id: tab_name}= "#{tab_name.to_s.titleize}"
    
  
  - @tabs.each do |tab_name, subtabs|
    = render 'tab', tab_name: tab_name, subtabs: subtabs
