#tabs
  %ul.tabset
    -#Build tab/header
    -# render partial: 'custom_li', collection: TABS, as: :tab
    - TABS.each do |tab_name, subtabs|
      = render 'custom_li', tab_name: tab_name, subtabs: subtabs
    
    
  -#Build tab/content
  - TABS.each do |tab_name, subtabs|
    = render 'subtab', tab_name: tab_name, subtabs: subtabs
.popups
  #box.choice-form
    %form{:action => "#"}
      %fieldset
        .heading
          %input#lbl1{:checked => "checked", :class => "purchaseEvent", :name => "purchaseEvent", :type => "radio", :value => 'Purchase'}/
          %label{:for => "lbl1"} Purchase Month
          %input#lbl2{:name => "purchaseEvent", :class => "purchaseEvent", :type => "radio", :value => 'Event'}/
          %label{:for => "lbl2"} Event Month
        / / heading
        = render :partial => 'calendar'
  / / choice-form