#tabs
  %ul.tabset
    -#Build tab/header
    - TABS.each do |tab_name, subtabs|
      %li
        %a{:href => "#tab-#{tab_name}", data_id: tab_name}= "#{tab_name.to_s.titleize}"
    
  
  -#Build tab/content
  - TABS.each do |tab_name, subtabs|
    = render 'subtab', tab_name: tab_name, subtabs: subtabs